<div *ngIf="!loading && !finished" class="row justify-content-center g-3 mt-2">
    <div *ngFor="let location of filteredLocations"
        class="col-xl-3 col-lg-4 col-md-6 col-12 mb-3 d-flex justify-content-center">
        <div class="location-card">
            <div class="card-face card-front">
                <div class="location-icon-container">
                    <svg class="location-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path fill="#00ff9f"
                            d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z" />
                    </svg>
                    <div class="location-badge bg-primary">
                        {{ location.type || '?' }}
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="location-name">{{ location.name }}</h5>
                    <div class="location-info">
                        <span class="dimension">
                            <svg class="dimension-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path fill="#81d4fa"
                                    d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z" />
                            </svg>
                            {{ location.dimension || 'Unknown' }}
                        </span>
                    </div>
                </div>
                <div class="card-corners">
                    <div class="corner top-left"></div>
                    <div class="corner top-right"></div>
                    <div class="corner bottom-left"></div>
                    <div class="corner bottom-right"></div>
                </div>
            </div>
            <div class="card-glow"></div>
        </div>
    </div>
</div>