<div *ngIf="!loading && !finished" class="row">
    <div *ngFor="let episode of filteredEpisodes" class="col-md-4 col-sm-6 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ episode.name }}</h5>
                <p class="card-text">
                    <strong>Data de Estreia em:</strong> {{ episode.air_date }} <br />
                    <strong>Temporada:</strong> {{ episode.episode }}
                </p>
            </div>
        </div>
    </div>
</div>