<div class="container-fluid p-0 m-0 vh-100 d-flex justify-content-center align-items-center position-relative">
    <img src="homebg.gif" class="img-fluid w-100 h-100 object-fit-cover blurred-image">

    <div class="position-absolute top-0 start-0 w-100 h-100 p-5">
        <div class="row justify-content-center mt-5">
            <div routerLink="/details/{{character.id}}" *ngFor="let character of filteredCharacters"
                class="col-md-4 col-sm-6 col-12 mb-4">
                <div class="card glass-effect shadow-lg">
                    <img [src]="character.image" class="card-img-top rounded-4" alt="{{ character.name }}">
                    <div class="card-body text-center">
                        <h5 class="card-title text-white">{{ character.name }}</h5>
                        <p class="card-text text-muted">Status: {{ character.status }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="loading" class="text-center">
            <p>Carregando...</p>
        </div>

        <div *ngIf="finished" class="text-center">
            <p>Todos os personagens foram carregados.</p>
        </div>
    </div>
</div>