<div class="container-fluid p-0 m-0 vh-100 d-flex justify-content-center align-items-center position-relative">
    <img src="homebg.gif" class="img-fluid w-100 h-100 object-fit-cover blurred-image">

    <div class="position-absolute top-0 start-0 w-80 h-100 p-5">
        <div class="row justify-content-center mt-5">
            <div routerLink="/details/{{character.id}}" *ngFor="let character of filteredCharacters"
                class="col-md-6 col-sm-6 col-xs-12 mb-4">
                <div class="card transparent-card glass-effect d-flex flex-row" style="height: 300px;">
                    <img [src]="character.image" class="card-img-top rounded-4" alt="{{ character.name }}"
                        style="width: 200px; height: 300px; object-fit: cover;" />
                    <div class="card-body d-flex flex-column justify-content-center">
                        <h5 class="card-title">{{ character.name }}</h5>
                        <p class="card-text">Status: {{ character.status }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="loading" class="text-center">
            <p>Carregando...</p>
        </div>

        <div *ngIf="finished" class="text-center">
            <p>Todos os personagens foram carregados.</p>
        </div>
    </div>
</div>